name: "Update"
on:
  schedule:
    - cron: "0 4 * * 1,3,6" # Mon, Wed, Sat at 04:00 UTC
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          nix flake update --commit-lock-file
          git push
